[submodule "evm-template"]
	path = evm-template
	url = https://github.com/subsquid-labs/squid-evm-template.git
	branch = master
[submodule "abi-template"]
	path = abi-template
	url = https://github.com/subsquid-labs/squid-abi-template.git
	branch = master
[submodule "erc20-template"]
	path = erc20-template
	url = https://github.com/subsquid-labs/squid-erc20-template.git
	branch = master
[submodule "multichain-template"]
	path = multichain-template
	url = https://github.com/subsquid-labs/squid-multichain-template
[submodule "gravatar-template"]
	path = gravatar-template
	url = https://github.com/subsquid-labs/gravatar-squid.git
